__pycache__/
*.py[cod]
.ipynb_checkpoints/
ROTOR_bench/*.png
ROTOR_bench/*.txt
ROTOR_bench/TXT/
ROTOR_bench/PNG/
ROTOR_bench/Processing/TXT/
ROTOR_bench/Processing/PNG/
TXT/
TXT*/
*.png
*.bkp
.~lock*
!Docs/Images/*.png
Sand[bB]ox/


